body
{
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(42, 36, 71) 52%, rgba(0,0,0,1) 100%);
}
.Main
{		
	display: grid;
	grid-template-columns: 11% 81%;	
	min-height: 100%;
}

.LeftSideUrlDiv
{
	border: 1px solid black;				
	background-color: rgb(42, 36, 71);
	border-radius: 10px;
}


.LeftSide
{
	border-right: 1px solid black;
	
}
